// ---- Custom colors

color-text-light-gray = #aaaaaa;
color-text-dark = #252525;

color-accent-light-grey = #dedede;
color-accent-green = #92eb52;
color-accent-red = #e63c44;

color-border-light-gray = #dedede;

color-background-light-gray = #fafafa;
color-background-white = #ffffff;

// ---- Custom shadows

shadow-default = 0px 0px 0.5em #00000020;